.button {
    background-color: #382B8C;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    margin: 3px 11px 11px;
    font-size: 20px;
    justify-content: center;
    color: aliceblue;
}