.App-header.light-theme {
    background-color: white;
    color: #282c34;
}

.App-header.dark-theme {
    background-color: #282c34;
    color: white;
}

p.themeName {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}